<%
def name
def dist

switch(project.wls){
    case ~ /^12\.1.*/:
        name = "fmw-12cR1"
        break
    default:
        name = "fmw-12cR2"
        break
}

switch(project.os){
    case ~ /centos6/:
        dist = "el6"
        break
    default:
        dist = "el7"
    break
}
%>
require 'spec_helper'

describe file('/vagrant/${name}-${project.wls}-1.${dist}.x86_64.rpm'), :if => os[:family] == 'redhat' do
  it { should be_file }
end

