#!/bin/env bash

REL=1

RPMBUILD_DIR=~/rpmbuild
FILES_DIR=/mnt/files/rpm

sudo yum install -y rpm-build
mkdir -p $RPMBUILD_DIR/{SPECS,SOURCES}
cp $FILES_DIR/weblogic.spec ~/rpmbuild/SPECS/weblogic.spec
cd /opt/oracle/product/
tar czf $RPMBUILD_DIR/SOURCES/fmw-@version@.tgz fmw-@version@
cd $RPMBUILD_DIR/SPECS
rpmbuild -bb weblogic.spec
cp $RPMBUILD_DIR/RPMS/x86_64/fmw-@version@-1.x86_64.rpm /out/@os@/fmw-@version@-1.x86_64.rpm