#!/bin/env bash

BUILD_USER=oracle
RPMBUILD_DIR=/home/$BUILD_USER/rpmbuild
OUT_DIR=/out/centos7
RPM_FILE=fmw-@version@-1.x86_64.rpm
FILES_DIR=/mnt/files/rpm

sudo yum install -y rpm-build
sudo -u oracle sh $FILES_DIR/buildrpm.sh
cp $RPMBUILD_DIR/RPMS/x86_64/$RPM_FILE $OUT_DIR/$RPM_FILE