#!/bin/env bash
JDK_RPM=@jdk_rpm@
STAGE_DIR=@stage_dir@

REL=1

sudo groupadd oinstall
sudo useradd -g oinstall oracle

sudo rpm -Uvh $STAGE_DIR/$JDK_RPM
sudo ln -s /usr/java/latest /opt/java

sudo yum -y install /out/@os@/fmw-@version@-1.x86_64.rpm